{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about-container">
    <h1>CS50 Final Project</h1>
    <h2>Thai Vu Duc Anh</h2>
    <p>
        <strong>FocusFlow</strong> is a comprehensive study planner app that helps users manage tasks effectively.
    </p>

    <h3>Technologies and Features:</h3>
    <ul>
        <li>Building a web app using <strong>Flask</strong></li>
        <li>Website layout and design using <strong>HTML5, Jinja2, and CSS</strong></li>
        <li>Login and Logout functionalities using <strong>Flask-Session and Werkzeug</strong></li>
        <li>Database manipulation using <strong>SQLite</strong></li>
        <li>Task management functionalities with <strong>CRUD operations</strong></li>
        <li>Interactive and responsive design with custom <strong>CSS</strong></li>
        <li>Google Calendar integration using the <strong>Google API</strong> (coming soon)</li>
    </ul>

    <h3>How to Use FocusFlow:</h3>
    <ol>
        <li><strong>Register or Log In:</strong> Create a new account or log in to save and manage your tasks.</li>
        <li><strong>Input Your Tasks:</strong> Add tasks in the <strong>Task Manager</strong> section with details like deadlines & estimated time.</li>
        <li><strong>Track Your Current Tasks:</strong> View and manage your tasks dynamically in the <strong>Task List</strong>.</li>
        <li><strong>Use the Pomodoro Timer:</strong> Stay focused by timing work sessions & breaks directly from <strong>Dashboard.</strong></li>
        <li><strong>Monitor Your Progress:</strong> Use the Pomodoro Timer to manage your time spent on tasks and breaks.</li>
        <li><strong>Visualize Your Schedule:</strong> Use the <strong>Calendar</strong> to plan tasks effectively and avoid overlapping deadlines.</li>
        <li><strong>Update and Delete Tasks:</strong> Edit or remove tasks to keep your workflow up-to-date.</li>
        <li><strong>Optimize Your Productivity:</strong> Utilize filters, priorities, and categories to focus on what's important.</li>
        <li><strong>Review Progress:</strong> Analyze remaining time & completed tasks to plan for upcoming weeks efficiently.</li>
    </ol>
</div>
{% endblock %}
